<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>퍼스널 컬러 결과</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 20px;
        }

        .palette {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .color {
            width: 100px;
            height: 100px;
            margin: 0 10px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <h1>퍼스널 컬러 분석 결과</h1>
    <h1 id="userName"></h1>
    <h2>님의 퍼스널 컬러는: {{ tone }}</h2>
    <div src="img/갈웜립.png"></div>
    <button id="replayBtn" onclick="replay()">다시하기</button>

    <div class="palette">
        {% if tone == '봄웜' %}
        <div class="color" style="background-color: rgb(255, 228, 196);"></div>
        <div class="color" style="background-color: rgb(255, 192, 203);"></div>
        <div class="color" style="background-color: rgb(255, 218, 185);"></div>
        {% elif tone == '가을웜' %}
        <div class="color" style="background-color: rgb(255, 165, 0);"></div>
        <div class="color" style="background-color: rgb(205, 133, 63);"></div>
        <div class="color" style="background-color: rgb(255, 99, 71);"></div>
        {% elif tone == '여름쿨' %}
        <div class="color" style="background-color: rgb(173, 216, 230);"></div>
        <div class="color" style="background-color: rgb(135, 206, 250);"></div>
        <div class="color" style="background-color: rgb(240, 248, 255);"></div>
        {% elif tone == '겨울쿨' %}
        <div class="color" style="background-color: rgb(0, 139, 139);"></div>
        <div class="color" style="background-color: rgb(70, 130, 180);"></div>
        <div class="color" style="background-color: rgb(25, 25, 112);"></div>
        {% else %}
        <p>측정할 수 없음</p>
        {% endif %}
    </div>
    <p>이 색상들은 당신에게 잘 어울리는 색상입니다.</p>
</body>
<script>
  var name = localStorage.getItem('userName')
  var tone = "{{ tone }}";
    console.log(name)
    console.log(tone)
    





    function replay(){
        window.location.href = '/'
    }
</script>
</html>